{{!-- ===================== START NAV ====================== --}}
{{> nav }}

{{!-- ===================== END NAV ====================== --}}


<div class="mainContainer">



	<h2 id="title">Info <small>NEXUS TOOL</small></h2>

	<hr class="colorgraph">

	<div id="infoPage">

		<h2 id="infoTitle">Info goes here</h2>
		<div id="infoDiv">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, repellat modi exercitationem maiores
				possimus
				vel explicabo sit numquam in velit labore asperiores tempore. Perferendis, quam sequi assumenda iusto sit labore</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam velit deleniti omnis quae possimus deserunt dicta
				sint eum, iusto officiis, exercitationem veritatis nulla aspernatur, incidunt quam eaque facere itaque repellat
			</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, repellat modi exercitationem maiores
				possimus
				vel explicabo sit numquam in velit labore asperiores tempore. Perferendis, quam sequi assumenda iusto sit labore</p>
		</div>
	</div>


	<hr class="colorgraph">

</div>

{{!-- ===================== START FOOTER ====================== --}}
{{> footer }}
{{!-- ===================== END FOOTER ====================== --}}