* {
    box-sizing: border-box;
 
}

body {
    font-family: 'Playfair Display', serif;
}

.navbar {
    margin-bottom: 5%;
}

.navbar a {
    color: white !important;
}

.mainContainer {
  font-weight: bolder;
  max-width: 660px;
  margin: auto;
}


.clientForm {
    padding: 1%;
    line-height: 150%;
    border-radius: 5px;
}

.small, small {
    font-size: 45%;
    font-weight: 400;
}


#addCLient {
    margin-top: 3%;
}

.row {  
    margin: 2%;
}

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

hr {
    margin: 0px;
}

.manageForm {  
    padding: 2%;
    line-height: 150%;
    border-radius: 5px;
}

.rulesHere {
    border: 1px solid black;
    width: 400px;
}

.TitleRule{
    text-align: center;
    font-weight: bold;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#copyright {
    font-size: 0.8em;
    text-align: center;
}