* {
    box-sizing: border-box;
 
}

body {
    font-family: 'Playfair Display', serif;
}

.navbar {
    margin-bottom: 5%;
}

.navbar a {
    color: white !important;
}

.mainContainer {
  font-weight: bolder;
  max-width: 660px;
  margin: auto;
}


#aboutClient {
    text-align:justify;
}
  
.clientForm {
    padding: 3%;
    line-height: 150%;
    border-radius: 5px;
}

.small, small {
    font-size: 45%;
    font-weight: 400;
}


#addCLient {
    margin-top: 3%;
    background-color: #343a3f;
}

#addCLient:hover {
    background-color: grey;
}




.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

hr {
    margin: 0px;
}


/* =========== Admin Page ============*/
.mainContainer2 {
    font-weight: bolder;
    max-width: 860px;
    margin: auto;
} 

.TitleRule {
    font-size: 1.5em;
}

.manageForm {  
    padding: 2%;
    line-height: 150%;
    border-radius: 5px;
}

th {
    font-weight: 100;
    font-size: 1.2em;
}

table#tableTitles th {
    font-weight: 100;
    font-size: 1.2em;
    background-color: #343a3f;
    color: white;
  }

table#tableTitlesClient th {
    font-weight: 100;
    font-size: 1.2em;
    background-color: #343a3f;
    color: white;
  }

table#tableTitlesClient tr:nth-child(even) {
    background-color: #eee;
}
table#tableTitlesClient tr:nth-child(odd) {
    background-color: #fff;
}


table#tableTitles tr:nth-child(even) {
    background-color: #eee;
}
table#tableTitles tr:nth-child(odd) {
    background-color: #fff;
}

#dbContents {
    height: 300px;
    overflow: scroll;
    border-bottom: 1px solid black;
}

#btnRow {
    width: 100%;
}

#addRule, #updateRule, #fill {
    margin-top: 1%;
    float: left;
}

#addRule, #updateRule {
   background-color: #343a3f;
}

#addRule:hover, #updateRule:hover {
    background-color: grey;
}

#updateRule {
  margin-left: 1%;
}

#fill {
    font-size: 1em;
}

/* =========== End admin Page ============*/


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#copyright {
    font-size: 0.8em;
    text-align: center;
}